################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/DapperCrud/FileContentIndex/a50d4360-0ff3-44ca-8533-a7a496458528.vsidx
/.vs/DapperCrud/v17/.suo
